@model Corsi
@{
    ViewData["Title"] = "ElencoPartecipazioniCombo";
}

<h1>Filtra partecipazioni con select</h1>

<hr />

<form>
	<div class="row align-items-center my-3">
		<div class="col-4">
			<select asp-for="Titolo" asp-items="ViewBag.Titoli" name="corso" class="form-control"></select>
		</div>
		<div class="col-2">
			<input type="submit" value="Filtra" class="btn btn-success"/>
		</div>
	</div>
</form>

<partial name="_TabellaPartecipazioni" />

