@model Partecipanti
@{
	ViewData["Title"] = "Iscriviti";
}

<div class="container">
<div class="d-flex align-items-center justify-content-between">
	<h1>Iscriviti</h1>
    <a asp-action="ElencoEdizioni" class="text-light">
	    <button class="btn btn-success rounded-circle">
			    <i class="fa-solid fa-arrow-left"></i>
	    </button>
    </a>
</div>

<hr />

<form method="post">
	
		<div class="row my-3">
		   <div class="col">
			   ID Partecipazione:
		   </div>
		   <div class="col">
			   <input type="number" class="form-control" name="Idpartecipazione" value="@ViewData["Idpartecipazione"]" readonly />
		   </div>
		</div>


		<div>
			<input type="hidden" class="form-control" name="Idedizione" value="@ViewData["Idedizione"]" readonly />
		</div>


		<div class="row my-3">
		   <div class="col">
			  Nome Corso:
		   </div>
		   <div class="col">
			   <input type="text" class="form-control" value="@ViewData["NomeCorso"]" readonly />
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Scegli chi iscrivere:
		   </div>
		   <div class="col">
			   <select asp-for="Idpartecipante" class ="form-control" asp-items="ViewBag.Idpartecipante"></select>
		   </div>
		</div>

		<div class="row">
		   <div class="col">

		   </div>
		   <div class="col">
			   <input class="btn btn-success" type="submit" value="Iscriviti" />
		   </div>
		</div>

</form>
</div>