
@{
	ViewData["Title"] = "NuovoPartecipante";
}

<h1>Inserisci Nuovo Partecipante</h1>

<form method="post">
	<div class="container">
		<div class="row my-3">
		   <div class="col">
			   ID:
		   </div>
		   <div class="col">
			   <input type="text" name="id"/>
		   </div>
	    </div>

		<div class="row my-3">
		   <div class="col">
			   Nome:
		   </div>
		   <div class="col">
			   <input type="text" name="nome" />
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Cognome:
		   </div>
		   <div class="col">
			   <input type="text" name="cognome" />
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Data di Nascita:
		   </div>
		   <div class="col">
			   <input type="date" name="data"/>
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Città di residenza:
		   </div>
		   <div class="col">
			   <input type="text" name="residenza"/>
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Titolo di studio:
		   </div>
		   <div class="col">
			   <input type="text" name="studio" />
		   </div>
		</div>

		<div class="row">
		   <div class="col">
			   
		   </div>
		   <div class="col">
			   <input class="btn btn-success" type="submit" value="Salva" />
		   </div>
		</div>
    </div>
</form>

