
@{
    ViewData["Title"] = "NuovoCorso";
}

<h1>Inserisci Nuovo Corso</h1>

<form method="post">
	<div class="container">
		<div class="row my-3">
		   <div class="col">
			   ID:
		   </div>
		   <div class="col">
			   <input type="text" name="id"/>
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Titolo:
		   </div>
		   <div class="col">
			   <input type="text" name="titolo" />
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Durata:
		   </div>
		   <div class="col">
			   <input type="number" name="durata" />
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Scaletta:
		   </div>
		   <div class="col">
			   <input type="text" name="scaletta"/>
		   </div>
		</div>

		<div class="row my-3">
		   <div class="col">
			   Costo:
		   </div>
		   <div class="col">
			   <input type="number" name="costo"/>
		   </div>
		</div>

		<div class="row">
		   <div class="col">

		   </div>
		   <div class="col">
			   <input class="btn btn-success" type="submit" value="Salva" />
		   </div>
		</div>
	</div>
</form>
