@model Corsi
@{
    ViewData["Title"] = "PartecipazioniAjax";
}

@section Scripts{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
}
    

<h1>Partecipazioni Ajax</h1>

<form asp-controller="Gestione" asp-action="PartecipazioniAjax" data-ajax="true" data-ajax-update="#target" data-ajax-method="post">
     <div class="row align-items-center my-3">
        <div class="col-4">
            <select asp-for="Titolo" asp-items="ViewBag.Titoli" name="corso" class="form-control"></select>
        </div>
        <div class="col-2">
            <input type="submit" value="Filtra" class="btn btn-success" />
        </div>
     </div>
</form>

<div id="target"></div>
