@model ELIS_MVC_Core.Models.Edizioni

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edizioni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idedizione" />
            <div class="form-group">
                <label asp-for="Idcorso" class="control-label"></label>
                <select asp-for="Idcorso" class="form-control" asp-items="ViewBag.Idcorso"></select>
                <span asp-validation-for="Idcorso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luogo" class="control-label"></label>
                <input asp-for="Luogo" class="form-control" />
                <span asp-validation-for="Luogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

